.finance-header {
    color: white;
    background-color: #1A237E;
}
.titles-container {
    padding-top: 10px;
    padding-left: 20px;
}
.main-title {
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 0;

    font-size: 35px;
    font-weight: bold;
}
.subtitle {
    padding: 5px;
    padding-top: 0;
    padding-left: 30px;

    font-size: 18px;
    color: #E0E0E0;
}
