.finance-footer {
    position: fixed;
    bottom: 0;

    padding: 0.5em;

    background-color: #1A237E;
    color: white;
}
.footer-icon {
    float: left;
    margin: 0;
    margin-right: 0.5em;
    margin-left: 5%;
}
.footer-text {
    margin: 0;
    margin-top: 0.5em;
}