.finance-footer {
    padding-top: 5px;
    padding-bottom: 7px;

    background-color: #1A237E;
    color: white;

    flex-shrink: 0;
}
.footer-icon {
    margin: 0;
    margin-right: 5px;
    margin-left: 5%;
}
.footer-text {
    margin: 0;
    margin-top: 5px;
}